<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HTTP Mac Menu</title>
    <link rel="stylesheet" href="../output.css" />
    <style>
      @font-face {
        font-family: 'Hubot Sans';
        src:
          url('../assets/Hubot-Sans.woff2') format('woff2 supports variations'),
          url('../assets/Hubot-Sans.woff2') format('woff2-variations');
        font-weight: 200 900;
        font-stretch: 75% 125%;
      }
      :root {
        font-family: 'Hubot Sans';
        font-size: 16px;
        line-height: 24px;

        color-scheme: dark;
        color: rgba(255, 255, 255, 0.87);
        background-color: #101010;

        scroll-behavior: smooth;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;

        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
      }
    </style>
  </head>
  <body>
    <h1 class="font-semibold text-xl text-center mt-6">Request 2</h1>
    <div class="w-full h-full">
      <form
        id="form2"
        name="config"
        class="my-4 flex flex-col justify-center items-center"
      >
        <div
          class="flex flex-col gap-2 px-2 py-4 w-outer justify-center items-center border-b border-b-white/30"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="url2">URL</label>
            <textarea
              rows="2"
              class="px-4 py-2 w-field whitespace-pre-wrap rounded-md placeholder:text-stone-500"
              id="url2"
              placeholder="https://api.brth.uk/v2/example"
            ></textarea>
          </div>
        </div>
        <div
          class="flex flex-col gap-4 px-2 py-4 w-outer justify-center items-center border-b border-b-white/30"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="headers2">Headers (CSV)</label>
            <input
              type="text"
              class="px-4 py-2 w-field rounded-md placeholder:text-stone-500"
              id="headers2"
              placeholder="X-API-Key: XXX_XXX"
            />
          </div>
        </div>
        <div
          class="flex flex-col gap-4 px-2 py-4 w-outer justify-center items-center border-b border-b-white/30"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="multiplier2">Multiplier</label>
            <input
              type="text"
              class="px-4 py-2 w-field rounded-md placeholder:text-stone-500"
              id="multiplier2"
              placeholder="100"
            />
          </div>
        </div>
        <div
          class="flex flex-col gap-4 px-2 py-4 w-outer justify-center items-center border-b border-b-white/30"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="prefix2">Prefix</label>
            <input
              type="text"
              class="px-4 py-2 w-field rounded-md placeholder:text-stone-500"
              id="prefix2"
              placeholder="Prefix"
            />
          </div>
        </div>
        <div
          class="flex flex-col gap-4 px-2 py-4 w-outer justify-center items-center border-b border-b-white/30"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="suffix2">Suffix</label>
            <input
              type="text"
              class="px-4 py-2 w-field rounded-md placeholder:text-stone-500"
              id="suffix2"
              placeholder="Suffix"
            />
          </div>
        </div>
        <div
          class="flex flex-col gap-4 px-2 py-4 w-outer justify-center items-center border-b border-b-white/30"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="timer2">Refresh (min 5s)</label>
            <input
              type="text"
              class="px-4 py-2 w-field rounded-md placeholder:text-stone-500"
              id="timer2"
              placeholder="10"
            />
          </div>
        </div>
        <div
          class="flex flex-col gap-4 px-2 py-4 w-outer justify-center items-center border-b border-b-white/30"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="json2">JSON path</label>
            <input
              type="text"
              class="px-4 py-2 w-field rounded-md placeholder:text-stone-500"
              id="json2"
              placeholder="data.answer.result"
            />
          </div>
        </div>
        <div
          class="flex flex-col gap-4 px-2 py-4 w-outer justify-center items-center"
        >
          <div class="flex gap-4 items-center">
            <label class="w-label" for="length2">Rounding</label>
            <input
              type="text"
              class="px-4 py-2 w-field rounded-md placeholder:text-stone-500"
              id="length2"
              placeholder="3"
            />
          </div>
        </div>
        <div class="flex items-center justify-center gap-2">
          <input
            class="bg-red-500 hover:bg-red-600 w-[150px] py-2 mt-3 rounded-md cursor-pointer"
            type="button"
            id="clearConfig2"
            value="Clear"
          />
          <input
            class="bg-blue-500 hover:bg-blue-600 w-[150px] py-2 mt-3 rounded-md cursor-pointer"
            type="submit"
            id="saveConfig2"
            value="Save"
          />
        </div>
      </form>
    </div>
  </body>
  <script src="../scripts/config.renderer.js"></script>
</html>
